div#esod-social-links {
  width: 100%;
}
.curiously-facebook {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: 10px 0 9px;
}
.curiously-twitter {
  display: inline-block;
  width: 20%;
  padding: 10px 0 10px 13px;
  font-size: 13px;
  line-height: 20px;
  vertical-align: top;
  margin-left: -4px;
  overflow: hidden;
}
.curiously-google-plus-one {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  padding: 10px 0 9px;
}
.curiously-social-links {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: 4px 0 9px;
}
.curiously-mail {
  height: 2em;
}

.curiously-social-links-form-title {
  cursor: pointer;
  margin-bottom: 1em;
}
.curiously-social-links-form-title:hover {
  text-decoration: underline;
}

.curiously-social-links-title {
  cursor: pointer;
  margin-bottom: 1em;
}
.curiously-social-links-title:hover {
  text-decoration: underline;
}

.quiz-icon-small {
  margin-top: 1em;
}

#edit-field-flag-message .form-textarea-wrapper textarea {
  height: 12em;
}
