div#esod-social-links {
  width: 100%;
}
.esod-facebook {
  display: inline-block;
  /*width: 25%;*/
  vertical-align: top;
  padding: 10px 12px 9px 0;
}
.esod-twitter {
  display: inline-block;
  /*width: 20%;*/
  padding: 11px 12px 10px 26px;
  font-size: 13px;
  line-height: 20px;
  vertical-align: top;
  margin-left: -4px;
  overflow: hidden;
}
.esod-google-plus-one {
  display: inline-block;
  /*width: 20%;*/
  vertical-align: top;
  padding: 10px 12px 9px 0;
}
.esod-social-links {
  display: inline-block;
  /*width: 25%;*/
  vertical-align: top;
  padding: 4px 12px 9px 0;
}
.curiously-mail {
  height: 2em;
}
a.esod-email {
  display: block;
}

.esod-social-links-form-title {
  cursor: pointer;
  margin-bottom: 1em;
}
.esod-social-links-form-title:hover {
  text-decoration: underline;
}

.esod-social-links-title {
  cursor: pointer;
  margin-bottom: 1em;
}
.esod-social-links-title:hover {
  text-decoration: underline;
}
