/*  CSS Overrides */

.firm {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-variant: normal;
  white-space: normal;
  color: #898989;
  margin: 2em 0 0 0;
  font-family: 'Dosis',Arial,Verdana,serif;
}
.custom-logo {
  background-image: url("../images/logo.png");
  padding-bottom: 50px;
  display: block;
  background-repeat: no-repeat;
}
.large-raquo {
  font-size: 24px;
}
.es-move-block-left {margin-left:145px;}

#es-cv {margin-bototm: 0;}
#es-hard-copy-available-upon-request {margin-top:0;}

body.node-type-blog-post p,
body.page-taxonomy-term-5 p {
  margin: 0;
}
