/* line 1, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
#main-menu .nav-toggle {
  display: none;
}

/* line 5, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
#main-menu {
  max-width: 1000px;
  margin: 0 auto;
}

/* line 11, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
#main-menu ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 13px;
}

/* line 19, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
#main-menu li {
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  font-family: 'Vollkorn',arial,serif;
  font-size: 18px;
}

/* line 32, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
#main-menu ul.menu li a:hover,
#main-menu > ul.menu > li > a.active,
#main-menu ul li a:hover,
#main-menu ul > li > a.active,
#main-menu .content > ul.menu > li > a.active {
  color: #9dcedf;
  background: #f8f8f8;
  border-bottom: 1pt solid #9dcedf;
}

/* line 35, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
#main-menu ul li:first-child {
  padding-left: 0;
}

/* line 39, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
#main-menu a {
  border-radius: 5px 5px 5px 5px;
  color: #343434;
  display: block;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

/* line 51, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
#main-menu a:hover,
#main-menu li > a.active,
#main-menu li > a.active-trail {
  background: none repeat scroll 0 0 #B576AD;
  color: #FFFFFF;
  text-decoration: none;
}

/* line 57, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
.drop-down-toggle {
  display: none;
}

/* line 61, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
.drop-down-arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 8px 0 0 5px;
  border-top: 5px solid #ffffff;
  border-left: transparent 5px solid;
  border-right: transparent 5px solid;
}

/* line 71, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
#main-menu li li {
  float: none;
  min-width: 190px;
  padding: 0;
  margin: 0;
}

/* line 78, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
#main-menu li li a {
  background: none repeat scroll 0 0 #B576AD;
  border: 1px solid #343434;
  color: #ffffff;
  font-size: 14px;
  margin: 0;
  min-width: 150px;
  overflow: hidden;
  padding: 4% 5%;
  text-align: left;
}

/* line 90, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
#main-menu li li a:hover {
  background: #343434;
  color: #fff;
}

/* line 95, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
#main-menu li ul {
  display: none;
  position: absolute;
  z-index: 9999;
  min-width: 190px;
  height: auto;
  padding: 0;
  margin: 0;
}

/* line 105, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
#main-menu li ul ul {
  margin: -33px 0 0 190px !important;
}

/* line 111, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
#main-menu li:hover > ul,
#main-menu li li:hover > ul,
#main-menu li li li:hover > ul {
  display: block;
}

/* line 115, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
#main-menu ul li.leaf, #main-menu ul li.expanded, #main-menu ul li.collapsed {
  list-style: none;
}

/* line 118, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
#main-menu ul.menu li {
  margin: 0 3px 0 0;
}

/* line 122, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
#main-menu li.expanded, #main-menu li.collapsed, #main-menu li.leaf {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 640px) {
  /* line 129, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
  #sticky_header {
    display: none !important;
  }

  /* line 132, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
  .menu_wrapper {
    background: none;
  }

  /* line 136, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
  #socialbar {
    float: none;
  }

  /* line 140, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
  #main-menu ul {
    display: none;
  }

  /* line 144, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
  #main-menu li ul {
    position: static;
  }

  /* line 148, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
  #main-menu li ul ul {
    margin: 0 !important;
  }

  /* line 153, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
  #main-menu ul,
  #main-menu li {
    float: none;
    max-width: 100%;
  }

  /* line 157, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
  #main-menu ul.menu li {
    margin: 0 3px;
  }

  /* line 163, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
  #main-menu li:hover > ul,
  #main-menu li li:hover > ul,
  #main-menu li li li:hover > ul {
    display: none;
  }

  /* line 168, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
  #main-menu a {
    padding: 10px 0;
    color: #343434;
    background: #b576ad;
    background: -moz-linear-gradient(#b580ae, #b576ad);
    background: -webkit-linear-gradient(#b580ae, #b576ad);
    background: -o-linear-gradient(#b580ae, #b576ad);
    background: -ms-linear-gradient(#b580ae, #b576ad);
    background: linear-gradient(#b580ae, #b576ad);
    border-bottom: 1px solid #b580ae;
  }

  /* line 180, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
  #main-menu li li li a {
    background: #b576ad;
  }

  /* line 185, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
  #main-menu a:hover,
  #main-menu li > a.active {
    background: #b580ae;
    background: -moz-linear-gradient(#b580ae, #b576ad);
    background: -webkit-linear-gradient(#b580ae, #b576ad);
    background: -o-linear-gradient(#b580ae, #b576ad);
    background: -ms-linear-gradient(#b580ae, #b576ad);
    background: linear-gradient(#b580ae, #b576ad);
    color: #FFFFFF;
  }

  /* line 195, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
  .drop-down-toggle {
    display: block;
    position: absolute;
    top: 7px;
    right: 16px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    border: #ffffff 3px solid;
  }

  /* line 206, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
  #main-menu li li .drop-down-toggle {
    top: 5px;
  }

  /* line 210, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
  #main-menu .nav-toggle {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 0 3px;
  }

  /* line 217, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
  #main-menu li li a {
    background: none repeat scroll 0 0 #B576AD;
    border: 1px solid #343434;
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    min-width: 150px;
    overflow: hidden;
    padding: 4% 5%;
    text-align: left;
  }

  /* line 228, ../../../sass/color-schemes/light-blue-dark/light-purple-media.scss */
  #main-menu li li a:hover {
    background: #343434;
    color: #ffffff;
  }
}
