/*-------------------------------------------*/
/* #MOBILE 320px (Portrait)*/
/*-------------------------------------------*/
@media only screen and (max-width: 480px), screen and (max-device-width: 480px) {
  /*--------------------------------------*/
  /*COLUMNS*/
  /*--------------------------------------*/
  /* line 9, ../sass/320.scss */
  .container {
    width: 280px;
  }

  /* line 11, ../sass/320.scss */
  .one-half {
    width: 280px;
  }

  /* line 13, ../sass/320.scss */
  .one-third {
    width: 280px;
  }

  /* line 15, ../sass/320.scss */
  .two-third {
    width: 280px;
  }

  /* line 17, ../sass/320.scss */
  .one-fourth {
    width: 280px;
  }

  /* line 19, ../sass/320.scss */
  .three-fourth {
    width: 280px;
  }

  /*--------------------------------------*/
  /*BLOG*/
  /*--------------------------------------*/
  /* line 24, ../sass/320.scss */
  .entry-meta {
    color: #878787;
    float: left !important;
    margin: 10px 0px 0px 0 !important;
    text-align: left !important;
    width: 280px !important;
  }

  /* line 26, ../sass/320.scss */
  .entry-meta ul {
    margin: 0;
  }

  /* line 28, ../sass/320.scss */
  .entry-meta li {
    list-style: none !important;
    margin: 0 10px 0 0 !important;
    float: left !important;
  }

  /* line 30, ../sass/320.scss */
  .entry-body {
    float: left;
    margin: 10px 0 0 0;
    width: 280px !important;
  }

  /* line 32, ../sass/320.scss */
  .date {
    width: 280px !important;
    height: auto;
    float: left;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 15px !important;
    display: block;
    background: #aad5e3;
    text-shadow: none;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    padding: 5px 0px !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
  }

  /*--------------------------------------*/
  /*BODY CSS (footer, container, navigation, copyrights ...)*/
  /*--------------------------------------*/
  /* line 39, ../sass/320.scss */
  body.custom-background {
    background-attachment: scroll;
  }

  /* line 41, ../sass/320.scss */
  #page {
    float: none;
    height: auto;
    width: 320px;
    background: #FFF;
    -webkit-box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.2);
    padding: 0 0px;
    text-align: left;
    margin: 0 auto;
  }

  /* line 44, ../sass/320.scss */
  .center-page {
    height: auto;
    width: 320px;
    margin: 0 auto;
    padding: 0px;
  }

  /* line 46, ../sass/320.scss */
  #pre-header {
    background: #aad5e3;
    float: left;
    width: 280px;
    padding: 0 20px;
    margin-left: -20px;
    border-bottom: 1pt solid #d8d5cd;
    min-height: 95px;
    margin-bottom: 30px;
  }

  /* line 48, ../sass/320.scss */
  #pre-header ul.menu, #pre-header .block-menu h2 {
    text-align: center;
  }

  /* line 50, ../sass/320.scss */
  #pre-header ul.menu li {
    margin-bottom: 7px;
  }

  /* line 52, ../sass/320.scss */
  #pre-header ul.menu li.first a, #pre-header ul.menu li:first-child a {
    padding-left: 12px;
  }

  /* line 54, ../sass/320.scss */
  #mm0 {
    display: block;
    width: 100%;
    float: none;
    height: auto;
    margin-top: 0px;
  }

  /* line 56, ../sass/320.scss */
  #navigation-wrapper {
    float: none;
  }

  /* line 58, ../sass/320.scss */
  #header-left {
    margin: 0 auto 20px auto;
    width: auto;
    height: auto;
    float: none;
    text-align: center;
  }

  /* line 60, ../sass/320.scss */
  #social-icons {
    float: none;
    padding: 10px 0 0px 0;
    text-align: center;
    font-size: 0;
  }

  /* line 62, ../sass/320.scss */
  #social-icons ul#social-links {
    float: none;
  }

  /* line 64, ../sass/320.scss */
  ul#social-links li {
    margin: 0px 3px 5px 3px;
    float: none;
    display: inline-block;
  }

  /* line 66, ../sass/320.scss */
  ul#social-links li:last-child {
    margin: 0px 3px 5px 3px;
  }

  /* line 68, ../sass/320.scss */
  #page ul#social-links > li:hover {
    display: inline-block;
    float: none;
  }

  /* line 70, ../sass/320.scss */
  h3 {
    font-size: 21px;
    line-height: 22px;
  }

  /* line 72, ../sass/320.scss */
  .flex-caption {
    display: none;
  }

  /* line 74, ../sass/320.scss */
  img.intro-img {
    margin-left: -20px !important;
    max-width: 320px !important;
    max-height: 100%;
    margin-bottom: 30px;
    border-bottom: 1pt solid #d8d5cd;
  }

  /* line 76, ../sass/320.scss */
  .button-holder-2 {
    float: none !important;
    margin: 0 auto 20px auto !important;
    width: 150px;
  }

  /* line 78, ../sass/320.scss */
  .inner-page-intro h2 {
    text-align: center;
  }

  /* line 80, ../sass/320.scss */
  .button.huge {
    padding: 10px 20px;
    font-size: 14px;
    color: white !important;
    font-weight: bold;
  }

  /* line 82, ../sass/320.scss */
  ul#projects-carousel li {
    width: 280px;
  }

  /* line 84, ../sass/320.scss */
  ul#projects-carousel li .item-content {
    width: 280px;
  }

  /* line 86, ../sass/320.scss */
  .flex-caption h2 {
    color: #aad5e3;
    font-size: 23px;
    text-shadow: none;
  }

  /* line 92, ../sass/320.scss */
  #footer-form input[type="text"],
  #footer-form input[type="password"],
  #footer-form input[type="email"],
  #footer-form textarea,
  #footer-form select {
    width: 260px;
  }

  /* line 97, ../sass/320.scss */
  #footer .one-half,
  #footer .one-third,
  #footer .two-third,
  #footer .one-fourth,
  #footer .three-fourth {
    border-bottom: 1pt solid #181818;
    border-top: 1pt solid #333;
    margin-bottom: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  /* line 99, ../sass/320.scss */
  #footer {
    width: 320px;
    padding: 30px 0px 0;
    margin-left: 0px;
    height: auto;
    float: left;
    background: #222222;
  }

  /* line 101, ../sass/320.scss */
  #footer .one-fourth.last {
    border-bottom: none !important;
  }

  /* line 103, ../sass/320.scss */
  #footer .one-fourth.first {
    border-top: none !important;
    padding-top: 0px;
  }

  /* line 105, ../sass/320.scss */
  #footer-bottom {
    width: 320px;
    padding: 10px 0px 10px 0px;
    margin-left: 0px;
    float: left;
    background: #111;
  }

  /* line 107, ../sass/320.scss */
  #footer-bottom p, #footer-bottom span {
    font-size: 12px;
    text-align: center;
  }

  /* line 109, ../sass/320.scss */
  #footer-bottom .right {
    float: none;
  }

  /* line 111, ../sass/320.scss */
  #header {
    height: auto;
  }

  /* line 113, ../sass/320.scss */
  #footer-bottom ul.menu, #footer-bottom .block-menu h2 {
    text-align: center;
  }

  /* line 115, ../sass/320.scss */
  #footer-bottom ul.menu li {
    margin-bottom: 7px;
  }

  /* line 117, ../sass/320.scss */
  #footer-bottom ul.menu li.first a, #pre-header ul.menu li:first-child a {
    padding-left: 12px;
  }

  /*--------------------------------------*/
  /*PORTFOLIO*/
  /*--------------------------------------*/
  /* line 122, ../sass/320.scss */
  ul#portfolio-items-one-fourth {
    overflow: hidden;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0px 0 0 0;
  }

  /* line 124, ../sass/320.scss */
  ul#portfolio-items-one-fourth li {
    width: 280px;
    min-height: auto;
    height: auto;
  }

  /* line 126, ../sass/320.scss */
  ul#portfolio-items-one-fourth li .portfolio-item {
    float: left;
    background: #f8f9f9;
    width: 280px;
    height: auto;
    padding: 0;
  }

  /* line 128, ../sass/320.scss */
  ul#portfolio-items-one-fourth li .item-content {
    background: #615951;
    float: left;
    width: 280px;
    text-align: center;
    padding: 0px 0 15px 0;
    height: auto;
  }

  /* line 130, ../sass/320.scss */
  #portfolio-items-one-fourth .description {
    padding-top: 15px;
  }

  /* line 132, ../sass/320.scss */
  ul#portfolio-items-one-fourth li .item-content:hover {
    background: #aad5e3;
  }

  /* line 134, ../sass/320.scss */
  ul#portfolio-items-one-fourth li .item-content p {
    margin: 0;
    padding: 0;
    font-weight: 800;
    color: #FFF;
  }

  /* line 136, ../sass/320.scss */
  ul#portfolio-items-one-fourth li .item-content p a {
    margin: 0;
    padding: 0;
    font-weight: 800;
    color: #FFF;
  }

  /* line 138, ../sass/320.scss */
  ul#portfolio-items-one-fourth li .item-content span {
    font-style: italic;
    color: #FFF;
  }

  /* line 140, ../sass/320.scss */
  ul#portfolio-items-one-fourth li img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  /* line 142, ../sass/320.scss */
  ul#portfolio-items-one-third {
    overflow: hidden;
    position: relative;
    list-style: none;
    margin: 0 !important;
    padding: 0px 0 0 0;
  }

  /* line 144, ../sass/320.scss */
  ul#portfolio-items-one-third li {
    width: 280px;
    min-height: 295px !important;
    margin: 0 20px 20px 0 !important;
  }

  /* line 146, ../sass/320.scss */
  ul#portfolio-items-one-third li .portfolio-item {
    float: left;
    background: #f8f9f9;
    width: 280px;
    height: auto;
    padding: 0 !important;
  }

  /* line 148, ../sass/320.scss */
  ul#portfolio-items-one-third li .item-content {
    background: #615951;
    float: left;
    width: 280px;
    text-align: center;
    padding: 0px 0 15px 0;
    height: auto;
  }

  /* line 150, ../sass/320.scss */
  #portfolio-items-one-third .description {
    padding-top: 15px;
  }

  /* line 152, ../sass/320.scss */
  ul#portfolio-items-one-third li .item-content:hover {
    background: #aad5e3;
  }

  /* line 154, ../sass/320.scss */
  ul#portfolio-items-one-third li .item-content p {
    margin: 0;
    padding: 0;
    font-weight: 800;
    color: #FFF;
  }

  /* line 156, ../sass/320.scss */
  ul#portfolio-items-one-third li .item-content p a {
    margin: 0;
    padding: 0;
    font-weight: 800;
    color: #FFF;
  }

  /* line 158, ../sass/320.scss */
  ul#portfolio-items-one-third li .item-content span {
    font-style: italic;
    color: #FFF;
  }

  /* line 160, ../sass/320.scss */
  ul#portfolio-items-one-third li img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  /* line 162, ../sass/320.scss */
  .portfolio-items {
    width: 280px;
    margin: 0;
  }

  /* line 164, ../sass/320.scss */
  .portfolio-items:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  /* line 166, ../sass/320.scss */
  .portfolio-items-not-filterable li {
    width: 190px;
    margin: 0 20px 0px 0 !important;
    float: left;
    min-height: 350px !important;
    overflow: hidden;
  }

  /* line 168, ../sass/320.scss */
  .portfolio-items-not-filterable {
    width: 280px;
    margin: 0;
  }

  /* line 170, ../sass/320.scss */
  .portfolio-items-not-filterable:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  /* line 172, ../sass/320.scss */
  .portfolio-items-not-filterable li {
    width: 280px !important;
    margin: 0 20px 0px 0 !important;
    float: left;
    height: 295px !important;
    overflow: hidden;
  }

  /* line 174, ../sass/320.scss */
  #filterable {
    display: inline;
    float: left;
    margin-bottom: 20px;
    margin-right: 0px;
  }

  /* line 176, ../sass/320.scss */
  #filterable li {
    float: left;
    margin-left: 15px;
  }

  /* line 178, ../sass/320.scss */
  #filterable {
    display: inline;
    float: left;
    margin-bottom: 20px;
    margin-right: 0px;
  }

  /* line 180, ../sass/320.scss */
  #filterable li {
    float: left;
    margin-left: 15px;
  }

  /*--------------------------------------*/
  /*OTHER FEATURES (google maps, intro inner page, contact forms...)*/
  /*--------------------------------------*/
  /* line 186, ../sass/320.scss */
  #contact-map {
    display: none;
  }

  /* line 188, ../sass/320.scss */
  #contact-form .error {
    margin: 15px 0 0 0;
  }

  /* line 190, ../sass/320.scss */
  #contact-form form {
    margin-bottom: 0px;
  }

  /* line 192, ../sass/320.scss */
  #contact-form fieldset {
    margin-bottom: 0px;
  }

  /* line 197, ../sass/320.scss */
  #contact-form label,
  #contact-form legend,
  #contact-form strong,
  #contact-form span {
    font-weight: bold;
    font-size: 13px;
    color: #898989;
  }

  /* line 199, ../sass/320.scss */
  #contact-form input[type="checkbox"] {
    display: inline;
  }

  /* line 202, ../sass/320.scss */
  #contact-form label span,
  #contact-form legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444;
    line-height: 34px;
  }

  /* line 208, ../sass/320.scss */
  #contact-form input[type="text"],
  #contact-form input[type="password"],
  #contact-form input[type="email"],
  #contact-form textarea,
  #contact-form select {
    border: 1px solid #dddddd;
    padding: 5px 10px;
    outline: none;
    overflow: hidden;
    font: 12px "Helvetica", Arial, sans-serif;
    color: #777;
    box-shadow: inset 0px 2px 4px #f3f3f3;
    -moz-box-shadow: inset 0px 2px 4px #f3f3f3;
    -webkit-box-shadow: inset 0px 2px 4px #f3f3f3;
    width: 260px;
    max-width: 100%;
    display: block;
    margin-bottom: 0px;
    background: #FFF;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }

  /* line 212, ../sass/320.scss */
  #contact-form select {
    padding: 0;
  }

  /* line 214, ../sass/320.scss */
  #contact-form textarea {
    width: 260px;
    height: 200px;
    resize: vertical;
    margin-bottom: 10px;
  }

  /* line 219, ../sass/320.scss */
  #contact-form input[type="text"]:focus,
  #contact-form input[type="password"]:focus,
  #contact-form input[type="email"]:focus,
  #contact-form textarea:focus {
    border: 1px solid #bbbbbb;
    color: #555;
    box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
    -moz-box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
    -webkit-box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
  }

  /* line 222, ../sass/320.scss */
  .portfolio-container {
    width: 280px;
    margin-right: 0px;
    float: left;
  }

  /* line 224, ../sass/320.scss */
  .inner-page-intro h2 {
    font-size: 21px;
    line-height: 24px;
  }

  /* line 226, ../sass/320.scss */
  .inner-page-intro h1 {
    font-size: 24px;
    line-height: 25px;
    text-align: center;
  }

  /* line 228, ../sass/320.scss */
  .not-found-text {
    text-align: center;
    font-size: 64px;
  }

  /* line 230, ../sass/320.scss */
  ul.center-list li a {
    text-align: center;
    padding: 5px 2px;
  }

  /* line 232, ../sass/320.scss */
  .flexslider.loading {
    min-height: 155px;
  }

  /* line 234, ../sass/320.scss */
  input#edit-keys, .page-user input.form-text, .no-sidebars #comment-form input.form-text {
    width: 96%;
  }

  /* line 236, ../sass/320.scss */
  .search-advanced .criterion {
    float: none;
    margin-right: 0;
  }
}
