/*  CSS Overrides */

.firm {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-variant: normal;
  white-space: normal;
  color: #898989;
  margin: 2em 0 0 0;
  font-family: 'Dosis',Arial,Verdana,serif;
}
.custom-logo {
  background-image: url("../images/logo.png");
  padding-bottom: 50px;
  display: block;
  background-repeat: no-repeat;
}
.large-raquo {
  font-size: 24px;
}