/*  CSS Overrides */
/* line 3, ../sass/local.scss */
.firm {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-variant: normal;
  white-space: normal;
  color: #898989;
  margin: 2em 0 0 0;
  font-family: 'Dosis',Arial,Verdana,serif;
}

/* line 13, ../sass/local.scss */
.custom-logo {
  background-image: url("../images/logo.png");
  padding-bottom: 50px;
  display: block;
  background-repeat: no-repeat;
}

/* line 19, ../sass/local.scss */
.large-raquo {
  font-size: 24px;
}

/* line 22, ../sass/local.scss */
.es-move-block-left {
  margin-left: 145px;
}

/* line 24, ../sass/local.scss */
#es-cv {
  margin-bototm: 0;
}

/* line 25, ../sass/local.scss */
#es-hard-copy-available-upon-request {
  margin-top: 0;
}

/* line 28, ../sass/local.scss */
body.node-type-blog-post p,
body.page-taxonomy-term-5 p {
  margin: 0;
}
