/* line 1, ../../sass/shortcodes/boxes.scss */
.successbox {
  -moz-border-radius: 6px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  background: url(../../images/shortcodes/icons/success.png) no-repeat scroll 15px 15px #eef4d4;
  border: 1px solid #8FAD3D;
  color: #596C26;
  display: block;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 25px 25px 25px 80px;
}

/* line 16, ../../sass/shortcodes/boxes.scss */
.ideabox {
  -moz-border-radius: 6px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  background: url(../../images/shortcodes/icons/idea.png) no-repeat scroll 15px 15px #e1ebeb;
  border: 1px solid #A8C6C6;
  color: #596C26;
  display: block;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 25px 25px 25px 80px;
}

/* line 31, ../../sass/shortcodes/boxes.scss */
.okbox {
  -moz-border-radius: 6px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  background: url(../../images/shortcodes/icons/ok.png) no-repeat scroll 15px 15px #e9ffd2;
  border: 1px solid #ACFF59;
  color: #596C26;
  display: block;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 25px 25px 25px 80px;
}

/* line 46, ../../sass/shortcodes/boxes.scss */
.questionbox {
  -moz-border-radius: 6px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  background: url(../../images/shortcodes/icons/question.png) no-repeat scroll 15px 15px #dbe7ed;
  border: 1px solid #9DACB5;
  color: #000;
  display: block;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 25px 25px 25px 80px;
}

/* line 61, ../../sass/shortcodes/boxes.scss */
.searchbox {
  -moz-border-radius: 6px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  background: url(../../images/shortcodes/icons/search.png) no-repeat scroll 15px 15px whitesmoke;
  border: 1px solid #DDD;
  color: #596C26;
  display: block;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 25px 25px 25px 80px;
}

/* line 76, ../../sass/shortcodes/boxes.scss */
.thumbsupbox {
  -moz-border-radius: 6px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  background: url(../../images/shortcodes/icons/thumbsup.png) no-repeat scroll 15px 15px #fce2d4;
  border: 1px solid #F1C0A8;
  color: #000;
  display: block;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 25px 25px 25px 80px;
}

/* line 91, ../../sass/shortcodes/boxes.scss */
.cancelbox {
  -moz-border-radius: 6px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  background: url(../../images/shortcodes/icons/cancel.png) no-repeat scroll 15px 15px #ffc6c6;
  border: 1px solid #FF9D9D;
  color: #C00;
  display: block;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 25px 25px 25px 80px;
}

/* line 106, ../../sass/shortcodes/boxes.scss */
.addbox {
  -moz-border-radius: 6px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  background: url(../../images/shortcodes/icons/add.png) no-repeat scroll 15px 15px #eef4d4;
  border: 1px solid #8FAD3D;
  color: #596C26;
  display: block;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 25px 25px 25px 80px;
}

/* line 121, ../../sass/shortcodes/boxes.scss */
.warningbox {
  -moz-border-radius: 6px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  background: url(../../images/shortcodes/icons/warning.png) no-repeat scroll 15px 15px #fff6c2;
  border: 1px solid #F4CD00;
  color: #957429;
  display: block;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 25px 25px 25px 80px;
}

/* line 136, ../../sass/shortcodes/boxes.scss */
.emptybox {
  -moz-border-radius: 6px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  background: #FFF;
  border: 1px solid #DDD;
  color: #000;
  display: block;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 25px 25px 25px 80px;
}

/* line 151, ../../sass/shortcodes/boxes.scss */
.eventbox {
  -moz-border-radius: 6px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  background: url(../../images/shortcodes/icons/event.png) no-repeat scroll 15px 15px whitesmoke;
  border: 1px solid #DDD;
  color: #596C26;
  display: block;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 25px 25px 25px 80px;
}
