/* line 2, ../../sass/shortcodes/lists.scss */
.ticklist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 9, ../../sass/shortcodes/lists.scss */
.ticklist ul li {
  background: transparent url(../../images/shortcodes/lists/ticklist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 15, ../../sass/shortcodes/lists.scss */
.crosslist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 22, ../../sass/shortcodes/lists.scss */
.crosslist ul li {
  background: transparent url(../../images/shortcodes/lists/crosslist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 28, ../../sass/shortcodes/lists.scss */
.starlist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 35, ../../sass/shortcodes/lists.scss */
.starlist ul li {
  background: transparent url(../../images/shortcodes/lists/starlist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 41, ../../sass/shortcodes/lists.scss */
.exclamlist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 48, ../../sass/shortcodes/lists.scss */
.exclamlist ul li {
  background: transparent url(../../images/shortcodes/lists/exclamlist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 54, ../../sass/shortcodes/lists.scss */
.addlist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 61, ../../sass/shortcodes/lists.scss */
.addlist ul li {
  background: transparent url(../../images/shortcodes/lists/addlist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 67, ../../sass/shortcodes/lists.scss */
.blacklist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 74, ../../sass/shortcodes/lists.scss */
.blacklist ul li {
  background: transparent url(../../images/shortcodes/lists/blacklist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 80, ../../sass/shortcodes/lists.scss */
.bluelist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 87, ../../sass/shortcodes/lists.scss */
.bluelist ul li {
  background: transparent url(../../images/shortcodes/lists/bluelist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 93, ../../sass/shortcodes/lists.scss */
.starlistsmall ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 100, ../../sass/shortcodes/lists.scss */
.starlistsmall ul li {
  background: transparent url(../../images/shortcodes/lists/starlistsmall.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 106, ../../sass/shortcodes/lists.scss */
.deletelist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 113, ../../sass/shortcodes/lists.scss */
.deletelist ul li {
  background: transparent url(../../images/shortcodes/lists/deletelist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 119, ../../sass/shortcodes/lists.scss */
.errorlist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 126, ../../sass/shortcodes/lists.scss */
.errorlist ul li {
  background: transparent url(../../images/shortcodes/lists/errorlist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 132, ../../sass/shortcodes/lists.scss */
.feedlist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 139, ../../sass/shortcodes/lists.scss */
.feedlist ul li {
  background: transparent url(../../images/shortcodes/lists/feedlist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 145, ../../sass/shortcodes/lists.scss */
.greenlist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 152, ../../sass/shortcodes/lists.scss */
.greenlist ul li {
  background: transparent url(../../images/shortcodes/lists/greenlist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 158, ../../sass/shortcodes/lists.scss */
.idealist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 165, ../../sass/shortcodes/lists.scss */
.idealist ul li {
  background: transparent url(../../images/shortcodes/lists/idealist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 171, ../../sass/shortcodes/lists.scss */
.keylist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 178, ../../sass/shortcodes/lists.scss */
.keylist ul li {
  background: transparent url(../../images/shortcodes/lists/keylist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 184, ../../sass/shortcodes/lists.scss */
.newlist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 191, ../../sass/shortcodes/lists.scss */
.newlist ul li {
  background: transparent url(../../images/shortcodes/lists/newlist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 197, ../../sass/shortcodes/lists.scss */
.orangelist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 204, ../../sass/shortcodes/lists.scss */
.orangelist ul li {
  background: transparent url(../../images/shortcodes/lists/orangelist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 210, ../../sass/shortcodes/lists.scss */
.pinklist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 217, ../../sass/shortcodes/lists.scss */
.pinklist ul li {
  background: transparent url(../../images/shortcodes/lists/pinklist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 223, ../../sass/shortcodes/lists.scss */
.pluslist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 230, ../../sass/shortcodes/lists.scss */
.pluslist ul li {
  background: transparent url(../../images/shortcodes/lists/pluslist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 236, ../../sass/shortcodes/lists.scss */
.purplelist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 243, ../../sass/shortcodes/lists.scss */
.purplelist ul li {
  background: transparent url(../../images/shortcodes/lists/purplelist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 249, ../../sass/shortcodes/lists.scss */
.redlist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 256, ../../sass/shortcodes/lists.scss */
.redlist ul li {
  background: transparent url(../../images/shortcodes/lists/redlist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 262, ../../sass/shortcodes/lists.scss */
.taglist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 269, ../../sass/shortcodes/lists.scss */
.taglist ul li {
  background: transparent url(../../images/shortcodes/lists/taglist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 275, ../../sass/shortcodes/lists.scss */
.vcardlist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 282, ../../sass/shortcodes/lists.scss */
.vcardlist ul li {
  background: transparent url(../../images/shortcodes/lists/vcardlist.png) no-repeat center left !important;
  padding: 2px 2px 2px 20px;
}

/* line 288, ../../sass/shortcodes/lists.scss */
.yellowlist ul {
  list-style: none !important;
  margin-bottom: 20px;
  margin-left: 0;
}

/* line 295, ../../sass/shortcodes/lists.scss */
.yellowlist ul li {
  background: transparent url(../../images/shortcodes/lists/yellowlist.png) no-repeat center left !important;
  list-style-type: none;
  padding: 2px 2px 2px 20px;
}

/* line 302, ../../sass/shortcodes/lists.scss */
.yellowlist li, .vcardlist li, .taglist li, .redlist li, .purplelist li, .pinklist li, .pluslist li, .orangelist li, .newlist li, .keylist li, .idealist li, .greenlist li, .feedlist li, .errorlist li, .deletelist li, .starlistsmall li, .bluelist li, .blacklist li, .addlist li, .exclamlist li, .starlist li, .crosslist li, .ticklist li {
  list-style: none !important;
}
